.home-header {
    position: relative;
    z-index: 3;
background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black */
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.home-header-company-logo {
    height: 80px;
    width: 80px;
}

.signout-button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    font-size: medium;
}

@media (min-width: 768px) {
    .home-header {
        padding: 0 40px;
    }
    .home-header-company-logo {
        height: 100px;
        width: 100px;
    }
    .signout-button {
        font-size: large;
    }
}

@media (min-width: 1024px) {
    .home-header {
        padding: 20px 60px;
    }
    .home-header-company-logo {
        height: 150px;
        width: 150px;
    }
    .signout-button {
        font-size: x-large;
    }
}
