
.home-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: transparent;
    box-sizing: border-box;
    height: 60px;
    padding: 0%;
    display: flex;
align-items: center;
justify-content: space-between;
padding: 0 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);    
}
.home-header-company-logo{
    height: 80px;
    width: 80px;
}
.signout-button{
    background-color: transparent;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    font-size: medium;
}

@media(min-width: 768px) {
    .home-header{
        padding: 0 40px;
    }
    .home-header-company-logo{
        height: 100px;
        width: 100px;
    }
    .signout-button{
        font-size: large;
    }
}
@media(min-width: 1024px) {
    .home-header{
        padding: 0 60px;
    }
    .home-header-company-logo{
        height: 120px;
        width: 120px;
    }
    .signout-button{
        font-size: x-large;
    }
}